/* .container{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    align-items: center;
    margin: auto;
    width: 100%;
    background-color: #fff;
}
 
.header{
    /* border: 1px solid blue; */
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
}
.header span{
    border: 1px solid #ccc;
    padding: 5px;
       
} */
.gridTable{
    border: 2px solid blue;
    border-radius: 8px;
    box-shadow: 2px 3px 2px 2px #ccc;
    padding: 1%;
    background-color: #fafafa;
    table-layout: fixed;
    width: 100%;
    border-collapse:unset;
    border-spacing: 5px;
    }
    .container{
        overflow-x: auto;
    }